input_directory=""
target_directory="/fs/home/brennsteiner/alphadia/distributed_search_test/search"
library_path="/fs/pool/pool-mann-projects/distributed_search_example_files/human_fully_predicted/20250803_1400.predicted.speclib"
fasta_path=""
first_search_config_filename="EXAMPLE_first_config.yaml"
second_search_config_filename="EXAMPLE_second_config.yaml"