input_directory="."
target_directory="."
library_path=""
fasta_path="/fs/pool/pool-mann-projects/distributed_search_example_files/TRUNCATED_uniprotkb_proteome_UP000005640_AND_revi_2025_07_22.fasta"
first_search_config_filename="EXAMPLE_first_config.yaml"
second_search_config_filename="EXAMPLE_second_config.yaml"