input_directory="/fs/home/brennsteiner/alphadia/distributed_search_test/"
input_filename="file_list.csv"
target_directory="/fs/home/brennsteiner/alphadia/distributed_search_test/search/"
library_path="/fs/home/brennsteiner/alphadia/distributed_search_test/48_fraction_hela_PaSk_orbitrap_ms2.hdf"
fasta_path="/fs/home/brennsteiner/alphadia/distributed_search_test/uniprotkb_proteome_UP000005640_2023_11_12.fasta"
first_search_config_filename="config.yaml"
second_search_config_filename="config.yaml"