recursive-include alpakaweird *

recursive-exclude alphadia *
recursive-exclude tests *
recursive-exclude gui *
recursive-exclude release *
recursive-exclude docs *

global-exclude */__pycache__/*
global-exclude *.pyc *.nbi *.nbc
