.toc-drawer {
    width: 21em
}

.content {
    font-size: 14px;
    width: 70em;
}

.autosummary.longtable{
    width: 100%;
}

.sidebar-brand{
    width: 50%;
}

.sidebar-drawer{
    width: calc(50% - 34em);
}
