numba
argparse
alpharaw>=0.3.1
alphatims
alphabase>=1.1.2
peptdeep
progressbar
neptune
seaborn
rocket_fft
xxhash
torchmetrics
directlfq
pythonnet

zstandard

# not direct dependencies but we have to restrict the versions
scipy==1.12