# Dependencies required for running the "stable" version of alphaDIA.
# Only usage of fixed versions is allowed, and all dependencies listed here must also be
# included in `requirements_loose.txt` (enforced by a test).
numba==0.59.1
argparse==1.4.0
alpharaw==0.4.5
alphatims==1.0.8
alphabase==1.2.5
peptdeep==1.2.1
progressbar==2.5
neptune==1.10.4
seaborn==0.13.2
rocket_fft==0.2.5
xxhash==3.4.1
torchmetrics==1.4.0.post0
transformers==4.40.2
directlfq==0.2.19
pythonnet==3.0.3
zstandard==0.22.0
# not direct dependencies but we have to restrict the versions
numpy<2 # test: tolerate_version avoid the breaking change in numpy >= 2
scipy==1.12.0
