# Dependencies required for developing alphaDIA
# Also, `requirements_test.txt` and `requirements_docs.txt` are required for developing
jupyter
jupyter_contrib_nbextensions
pyinstaller

twine
bumpversion
pipdeptree
ipykernel
psutil

pre-commit==3.7.0
pywin32; sys_platform=='win32'
